<div class="social-head ">
    <div class="container social-head-padding ">
        <a>
            <img src="/assets/sign_in_fb.png" alt="facebook icon" />
        </a>
        <a>
            <img src="/assets/sign_in_gplus.png" alt="google plus icon" />
        </a>
    </div>
    <div class="container">
        <div>
            <img src="/assets/mrug_logo_595.png" alt="logo" /> 
        </div>
        <div class="logo-caption">
            A great new free psd theme to showcase <br> your new application. 
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">about us</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">gallery</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container row-padding">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3 class="heding-color">  Who we are</h3>
            </div>
            <div class="text-align-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe   fringilla nisl congue congue. Maecenas nec condimentum libero, at ePhasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornar ther so many times to thek Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe   fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum maurisi Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctust idsollicitudin ante lobortis at.
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <div>
                <img src="/assets/group1.png" >
            </div>
        </div>
    </div>
</div>
<div class="row-bg-color">
    <div  class="container row-padding">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <img src="/assets/group2.png" alt="group image" />
                </div>

            </div>
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="/assets/blackboard.png" alt="group image" /> 
                </div>
                <div>
                    <h3 class="heding-color">  What we do</h3>
                </div>
                <div class="text-align-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe   fringilla nisl congue congue. Maecenas nec condimentum libero, at ePhasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornar ther so many times to thek Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe   fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum maurisi Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctust idsollicitudin ante lobortis at.
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="coute-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe   fringilla nisl congue congue. Maecenas nec condimentum libero, at ePhasellus eget nisi  consectetur adipiscing dapibus fringilla nisl congue congue."
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="text-center heding-color">
        <h4>
            jane Hunt
        </h4> 
    </div>
    <div id="overlay">
        <a class="image-list" href="#"><img src="/assets/person1.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person2.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person3.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person4.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person5.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person6.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person7.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person8.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person9.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person1.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person11.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person12.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person4.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person5.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person6.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person7.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person7.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person8.png" alt="person image" class=" grayscale" /></a>
        <a class="image-list" href="#"><img src="/assets/person9.png" alt="person image" class=" grayscale" /></a>
    </div>
    <div class="say-hi">
        Say Hi & Get in Touch
    </div>
    <div class="say-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center social-icon-margin">
            <a class="icons-twitter" href="#"> </a>
            <a class="icons-facebook" href="#"> </a>
            <a class="icons-print" href="#"> </a>
            <a class="icons-gplus" href="#"> </a>
            <a class="icons-in" href="#"> </a>
            <a class="icons-tube" href="#"> </a>
        </div>
        <div class="col-sm-4">

        </div>

    </div>
</div>
<div class="footer-margin"> </div>
<!--    Footer-->
<div id="footer">
    <div class="container text-center"> 
        <a href="#" class="anchor">about us</a>
        <a href="#" class="anchor">events</a>
        <a href="#" class="anchor">blog</a>
        <a href="#" class="anchor">gallery</a>
        <a href="#" class="anchor">contact us</a>
    </div>

</div>
